
@{
    ViewData["Title"] = "RedisList";
    
}

<h1>RedisList</h1>

<form method="post" asp-action="RedisList" enctype="application/x-www-form-urlencoded">

    <input type="text" name="name" value="" />
<button type="submit"></button>
</form>