
@{
    ViewData["Title"] = "RedisSetList";
}

<h1>RedisSetList</h1>

<form method="post" asp-action="RedisSetList" enctype="application/x-www-form-urlencoded">

    <input type="text" name="name" value="" />
    <button type="submit"></button>
</form>